/*Zoom style sheet*/
body {
  margin: 0;
  padding: 0;
  overflow: auto;
  font-family: 'Cantarell', sans-serif;
}

/*company name-registry*/
.name-registry {
  font-size: 40px;
  font-weight: 900;
  color: #707070;
  width: 250px;
  height: 45px;
  position: absolute;
  top: 10%;
  left: 50%;
  margin-left: -125px;
  text-align: center;
}

/*order button*/
.register-btn {
  background-color: #0bd37d;
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  border: solid;
  border-color: #fff;
  border-width: 1px;
  border-radius: 0.5px;
  width: 100px;
  height: 35px;
  position: absolute;
  bottom: 13%;
  right: 50%;
  margin-right: -50px;
  color: #fff;
}

/*hover effect on all buttons*/
#btn:hover {
  box-shadow: 12px 12px 28px 6px #111;
}

/*table decorations*/
table {
  border-collapse: collapse;
  width: 60%;
  position: absolute;
  top: 20%;
  left: 50%;
  margin-left: -30%;
  table-layout: auto;
}

/*cell styling*/
th, td {
  text-align: left;
  padding: 6px;
  border-bottom: .15px solid #707070bf;
}

/*alternating grey and white rows*/
tr:nth-child(even) {
  background-color: #f2f2f2
}

/*table head labels*/
th {
  background-color: #b30da6;
  color: white;
}

/*entry boxes*/
select, input[type="text"] {
  border: none;
  background: transparent;
  outline: none;
  height: 35px;
  color: #707070;
  font-size: 12px;
  text-align: center;
}

/*custom select menu*/
select {
  margin-left: 12%;
}

/*placeholder color*/
::placeholder {
  color: #707070;
  opacity: 0.65;
}

/*submit order*/
.register-btn input[type="submit"] {
  border: none;
  outline: none;
  width: 100px;
  height: 35px;
  background: transparent;
  color: #fff;
  font-size: 16px;
  margin-bottom: 50px;
  align-self: center;
}

/*open sidenav*/
.nav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  box-shadow: 15px 0 30px -16px #707070;
  overflow-x: hidden;
  padding-top: 60px;
  transition: .65s;
  background: #fff;
}

/*menu options*/
.nav #options {
  display: block;
  padding: 15px 20px;
  font-family: 'Cantarell', sans-serif;
  font-weight: 600;
  font-size: 20px;
  color: #b30da6;
  text-decoration: none;
}

/*menu options hover effect*/
.nav #options:hover {
  color: #fff;
  background: #b30da6;
  transition: 0.35s;
}

/*social media pins display*/
.social {
  position: absolute;
  width: 100%;
  height: 70px;
  margin: auto;
  padding: auto;
  align-items: center;
}

/*social media pins decoration*/
.social a {
  text-decoration: none;
}

/*social media pins*/
.pins {
  width: 25px;
  height: 25px;
  padding: 0;
  margin: 20px;
}

/*close sidenav*/
.nav .close {
  position: absolute;
  top: 0;
  right: 0;
}

/*sidenav bar transition effects*/
#content {
  padding: 10px;
  transition: margin-left .65s;
  overflow: hidden;
  width: 100%;
}

/*navbar*/
.navbar {
  float: left;
  margin: 0 0 3em 0;
  padding: 5px;
  border-bottom: .15px solid #707070bf;
  z-index: 4;
  position: fixed;
  width: 100%;
  height: 30px;
  top: 0;
  left: 0;
  list-style: none;
  text-align: center;
  align-items: center;
}

/*navbar items*/
li {
  float: none;
  display: inline-block;
}

/*icon properties*/
.slide a {
  color: #b30da6;
  font-size: 20px;
  text-align: center;
  margin: 15px;
  padding-bottom: 5px;
}

/*menu logo*/
#bars {
  float: left;
  margin-left: -8px;
}

/*search icon*/
#search {
  float: right;
}

/*navbar name*/
.navbar-name {
  font-family: 'Sonsie One', cursive;
  color: #b30da6;
}

/*media width 440px*/
@media only screen and (max-width: 440px) {
  html {
    display: table;
    margin: auto;
  }

  body {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}


