/*Zoom style sheet*/
body {
  margin: 0;
  padding: 0;
  font-family: 'Cantarell', sans-serif;
  color: #fff;
}

/*background image*/
html {
  background: url("../images/Black_Iveco_Trakker_Truck_HD_Desktop_Wallpaper.jpg") no-repeat center fixed;
  background-size: cover;
}

/*logo image*/
.logo {
  width: 100px;
  height: 100px;
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-top: 10px;
}

/*company name*/
.name {
  font-family: 'Sonsie One', cursive;
  font-size: 30px;
  text-align: center;
  width: 115px;
  padding-left: 0;
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-top: 0;
}

/*remove login text decoration*/
a[href="home.html"] {
  text-decoration: none;
}

/*button properties*/
#btn {
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  border: solid;
  border-color: #fff;
  border-width: 1px;
  border-radius: 5px;
  margin-top: 20px;
  width: 100px;
  height: 35px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  color: #fff;
  background: transparent;
}

/*hover effect on all buttons*/
#btn:hover {
  background: #fff;
  color: #b30da6;
  border-color: #b30da6;
}

/*createbox*/
.createbox {
  width: 400px;
  height: 300px;
  background: #111111bf;
  border-radius: 5px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  padding: 30px 30px;
  align-items: center;
}

/*entry labels*/
.createbox p {
  margin: 0;
  padding: 0;
  font-weight: 600;
  font-size: 15px;
  text-align: center;
}

/*line size*/
.createbox input {
  width: 80%;
  margin-bottom: 16px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*entry boxes*/
.createbox input[type="text"], input[type="password"] {
  border: none;
  border-bottom: 1px solid #fff;
  background: transparent;
  outline: none;
  height: 40px;
  font-size: 12px;
  text-align: center;
  color: #fff;
}

/*placeholder color*/
::placeholder {
  color: #ffffffd9;
  text-shadow: 2px 2px 5px #111;
  font-family: 'Cantarell', sans-serif;
}

/*links styles*/
.links p {
  text-align: center;
  line-height: 25px;
  font-size: 15px;
  font-weight: 400;
}

/*links position*/
.links {
  position: absolute;
  width: 24em;
  height: 100px;
  margin-top: 8px;
  margin-right: -12em;
  right: 50%;
}

/*links click here styles*/
.links p a {
  color: #fff;
}

/*links click here hover effect*/
.links p a:hover {
  color: yellow;
}

/*text shadow to increase visibility*/
body {
  text-shadow: 2px 2px 5px #111;
}

/*media width 440px or less*/
@media only screen and (max-width: 440px) {
  .createbox {
    width: 65%;
    display: block;
    margin-right: auto;
    margin-left: auto;
  }

  .links {
    margin-top: 10px;
  }
}
